body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0px;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  height: 30px;
  width: 90%;
}

input:placeholder {
  padding-left: 5px;
}

button:disabled {
  background-color: #d1d3d4;
}

.button-active {
  border: 2px solid #00A79D;
}

.top-box {
  background-color: #E5F3F2;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  margin: 0px;
  width: 100vw;
}

.title-toDo {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
}

.toDo-body {
  height: 20vh;
}

.title-box {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
}

.input-field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
}

.search-input {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.save-button, .show-completed {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 25px;
  letter-spacing: 2px;
  width: 90%;
  height: 36px;
}

.show-completed {
  margin: 10px auto;
}

.importance-filter {
  border-style: none;
  color: #000000;
  cursor: pointer;
  margin: 5px 5px;
  text-decoration: none;
}

.importance-filters {
  border-bottom: 1px solid #D1D3D4;
  padding-bottom: 10px;
  text-align: center;
}

#critical-button {
  background-color: #E71910;
}

#high-button {
  background-color: #Ec4c19;
}

#normal-button {
  background-color: #f27f22;
}

#low-button {
  background-color: #f7b12a;
}

#none-button {
  background-color: #fce433;
}

.toDo-card-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.toDo-card {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D1D3D4;
  height: 120%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.completed .card-title, .completed .card-body {
  text-decoration:line-through;
}

.hidden {
  display: none;
}

.card-title-box {
  align-content: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 10px;
}

.card-title {
  font-size: 20pt;
  width: 60%;
}

.card-body {
  width: 100%;
}

.importance-box {
  align-items: center;
  display: flex;
}

.importance-result {
  font-size: 10pt;
  padding-left: 5px;
}

.current-importance {
  font-size: 10pt;
  padding-left: 5px;
}

.importance-image {
  height: 35px;
}

.importance-result {
  display: flex;
}

.importance-btns, .delete-btn {
  background: transparent;
  border: none;
}

.completed-task {
  background-color: #E5F3F2;
  border-style: none;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 100%
}

.delete-btn {
  background-image: url("./images/delete.svg");
  width: 35px;
  height: 35px;
}

.delete-btn:hover {
  background-image: url('./images/delete-hover.svg');
}

.up-vote {
  background-image: url("./images/upvote.svg");
  width: 35px;
  height: 35px;
}

.up-vote:hover {
  background-image: url("./images/upvote-hover.svg");
}

.down-vote {
  background-image: url('./images/downvote.svg');
  width: 35px;
  height: 35px;
}

.down-vote:hover {
  background-image: url('./images/downvote-hover.svg');
}

.show-more-items {
  border-style: none;
  color: #FFFFFF;
  margin: 10px auto;
  text-decoration: none;
  width: 50%;
}

@media screen and (min-width: 650px){

  input {
    width: 70%;
  }

  .save-button {
    width: 70%;
  }

  .toDo-card {
    width: 70%;
  }

}

@media screen and (min-width: 850px) {

  header {
    height: 7vh;
  }

  .title-toDo {
    font-size: 64px;
  }

  .title-box {
    font-size: 64px;
    margin-top: 10px;
  }

  .save-button {
    margin-top: 15px;
  }

  .toDo-body {
    height: 5vh;
  }

  .input-field {
    height: 30vh;
    margin-bottom: 0px;
  }

  .top-box {
    height: 45vh;
  }
}
